/* Setting for general */
html {box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,main,menu,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}
progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html{overflow-x:hidden}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

html,body {
    font-family:sans-serif;
    font-size:15px;
    line-height:1.5}

body{margin:0}

p {
    font-family: "Courier New";
}

footer {
    text-align:center;
    padding:12px 20px!important;
    font-size: 24px;
}

h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
h1 {font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
h2,h3,h4,h5,h6 {
    font-family: Georgia;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 8px;
    letter-spacing:4px
}
a {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border-bottom: dotted 1px #666;
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    cursor: pointer;
}

a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}

/* Header */
.background-img {
    background-image: url('../img/BKG.jpg');
    max-height: 100%;
    background-position: center;
    background-size: cover;
    background-position: relative;
}
.name {
    display:inline-block;
    width:auto;
    padding:12px 24px!important;
    color:#fff!important;
    background-color:#000!important;
    font-size:64px!important;
    font-family: Georgia;
    font-weight: bold;
    letter-spacing:4px;
    animation:opac 1.5s;
}
.name-div {
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    font-family: simsum;
    white-space:nowrap;
}
.about-div {
    padding: 12px 24px!important;
    border: 2px solid black;
    text-align: justify;
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    font-family: Georgia;
    background-color: #fdf5e6!important;
    filter:grayscale(75%);
    width: 60%;
}
.about {
    display:inline-block;
    width:auto;
    padding:12px 24px!important;
    font-size:16px!important;
    font-family: Georgia;
    font-weight: bold;
    letter-spacing:4px;
    animation:opac 1.5s;
}

/* navbar */
.navbar {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    width: 100%;
    overflow: hidden;
    color: #fff!important;
    background-color: #000!important;
    /* display: none!important; */
    bottom:-16px;
    z-index: 1;
    font-family: Georgia; 
}

/* contact */
.contact-header {
    position:absolute;
    right:0;
    top:0;
    display:inline-block;
    width:auto;
    padding:12px 20px!important;
    font-size: 24px;
    /* color: #7d7d7d; */
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display: inline-block;
    padding: 0 20px 0 0;
}


/* content */
.content {
    background-color: #fdf5e6!important;
    filter:grayscale(75%);
}

.subsession-header {
    margin: 0 auto;
    text-align: center!important;
    padding-top: 32px!important;
    padding-bottom: 12px!important;
}

.project-header {
    margin: 0 auto;
    text-align: center!important;
    padding-top: 30px!important;
    padding-bottom: 6px!important;
}

.project-subheader {
    color: #999;
    font: 14px/1.5 "Courier New";
    text-align:center;
}

.project {
    padding: 12px 24px!important;
    border: 2px solid black;
    margin-top: 20px;
    text-align: justify;
}

ul.in-content {
    cursor: default;
    list-style: none;
    padding-left: 0;
    font-family: "Courier New";
}

/*  */
.session {
    padding: 50px 100px 20px 100px;
}

.subsession {
    content: "";
    display: table;
    clear: both
}

.left-div {
    float: left;
    width: 47%;
}

.right-div {
    float: right;
    width: 47%;
}